/*page-structure*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sanomat Grab Web Regular', sans-serif;
    font-size: 1.146em;
    font-weight: 400;
}

nav {
    color: white;
}

header {
    background-color: white;
    min-height: 400px;
    background-image: url("img/platypus-hero2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;
}

.environment {
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.employees {
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

footer {
    background-color: black;
    min-height: 100px;
    color: white;
}


/*nav-style*/

.bg-black {
    background-color: rgba(48, 24, 24, .8);
}

.nav-linkto {
    color: #00cece !important;
    font-weight: bold;
    transition: all 0.3s;
}

.nav-linkto:hover {
    color: #006060 !important;
}

.btn-nav {
    color: #00cece;
    border: 2px solid #00cece;
    transition: all 0.3s;
    font-weight: bold;
}

.btn-nav:hover {
    color: white;
    border-color: #006060;
    background-color: #006060;
}

.search-icon {
    border: none;
}


/* header style */

.header-style {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 200px;
    color: #D86000;
    border: 2px solid rgba(48, 24, 24, .9);
    background-color: rgba(48, 24, 24, .9);
    padding: 20px 0px;
    margin: 0px auto;
    width: 60rem;
}

.header-title {
    font-size: 60px;
    font-family: 'Sanomat Grab Web Regular', sans-serif;
    padding-bottom: 20px;
}

.header-subtitle {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Sanomat Grab Web Regular', sans-serif;
    letter-spacing: 1px;
    padding-bottom: 20px;
}